@page "/Login"
@using ElevatorMobileApplication.Models
@using Newtonsoft.Json;
@using System.Text
@inject NavigationManager navigationManager
<h3>Login</h3>

<EditForm Model="login" OnValidSubmit="@OnPostLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="Username" @bind-Value="login.Username" />

    <InputText id="Password" type="password" @bind-Value="login.Password" />

    <button type="submit">Login</button>

</EditForm>


@code {
    private LoginModel login = new();

    private async void OnPostLogin() {
        using var httpClient = new HttpClient();

        var payload = JsonConvert.SerializeObject(login);
        var httpContent = new StringContent(payload, Encoding.UTF8, "application/json");

        var httpRequest = new HttpRequestMessage(HttpMethod.Post, "http://10.0.2.2:7169/api/login")
            {
                Content = httpContent
            };

        var data = new HttpResponseMessage();
        try 
        {
            //data = httpClient.PostAsync("http://localhost:7169/api/login", httpContent).Result;
            data = await httpClient.SendAsync(httpRequest);
        } catch {

        }
        if(data.IsSuccessStatusCode){
            User user = new User();

            user = JsonConvert.DeserializeObject<User>(await data.Content.ReadAsStringAsync());

            await SecureStorage.Default.SetAsync("username", user.UserName);
            await SecureStorage.Default.SetAsync("Id", user.Id);

            navigationManager.NavigateTo("/Counter");
        }
    }
}
